*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 170px;

}

body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 450px;
    height: 745px;
    padding: 120px;
   border-radius: 10px;
   margin-top: 90px;
    
    legend{
        font-weight: 700;
        font-size: 32px;
        position: absolute;
        top: 140px;
        left:600px;
        }
    .nome{
        width: 310px;
        height: 58px;
        position: absolute;
        top: 210px;
        left:602px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: 0.5px solid gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
    }
    .nome:focus{
        outline: 2px solid white;
        outline-offset: 2px;
    }

   .nome::placeholder{
        color: rgba(255, 255, 255, 0.7);
        padding-left: 15px;
   }
    }
    .senha{
        width: 310px;
        height: 58px;
        position: absolute;
        top: 284px;
        left:602px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);
        border: 0.5px solid gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .senha:focus{
        outline: 2px solid white;
        outline-offset: 2px;
    }

    .senha::placeholder{
        color: rgba(255, 255, 255, 0.7);
        padding-left: 15px;
    }

    .entrar{
        width: 310px;
        height: 40px;
        position: absolute;
        top: 360px;
        left:602px;
        border-radius: 5px;
        background-color: rgb(198, 13, 13);
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
    }

    .entrar:hover{
        background-color: rgb(178, 7, 7);
        transition: all 0.15s ease-in-out;
    }

    .ou{
        position: absolute;
        top: 418px;
        left:748px;
        color: gray;
    }
    .final-tela-preta{
        position: absolute;
        top: 470px;
        left:548px;
        color: gray;
        .codigo{
            position: absolute;
            top: -15px;
            right: -55px;
            background-color: rgba(99, 97, 97, 0.50);
            color: white;
            border-radius: 5px;
            weight: 500px;
            /* padding: 10px 16px; */
            width: 310px;
            height: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            cursor: pointer;
        }

        .codigo:hover{
            background-color: rgba(73, 73, 73, 0.5);
            transition: all 0.15s ease-in-out;
        }
        }
        .esqueci{
            position: absolute;
            top: 32px;
            right: -60px;
            background-color: rgba(99, 97, 97, 0);
            color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            weight: 500px;
            width: 310px;
            height: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            cursor: pointer;
        }
        
        .esqueci:hover{
            text-decoration: underline;
            color: rgb(169, 165, 165);
        }
        .lembre-se{
            position: absolute;
            top: 70px;
            left: 55px;
            line-height: 24px;
            color: white;
            
            .custom-checkbox {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                padding-left: 25px;
              }
              
              .custom-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                top: 1px; 
                right: 160px;
              }
              
              .checkmark {
                position: absolute;
                top: 0;
                left: -8px;
                height: 19px;
                width: 19px;
                background: #fff;
                border: 1px solid gray;
                border-radius: 2px;
                /* opacity: 0; */
                background-color: black;
              }

              .checkmark:hover{
                border-color: white;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
              }
              
              .custom-checkbox input:checked + .checkmark {
                background: white;
              }
              
            
        }
        .novo-por-aqui{
            position: absolute;
            top: 108px;
            left: 47px;
            display: flex;
            color: rgba(255, 255, 255, 0.7);
            
            .assine-agora{
                color: white;
                padding-left: 5px;
            }
        }
        .saiba-mais{
            position: relative;
            top: 135px;
            left: 47px;
            font-weight: 400;
            font-size: 13px;
            color: rgb(140, 140, 140);
        }

    }
input{
    padding-left: 20px;
    color: white;
}

input::placeholder{
    color: gray;
}

.assine{
    text-decoration: none;
    color: white;
}

.assine:hover{
    text-decoration: underline;
}

.saiba{
    text-decoration: none;
    color: rgb(0, 113, 235);
    position: absolute;
    top: 18px;
    left: 195px;
    
}

.saiba:hover{
    text-decoration: underline;
}

footer {
    position: absolute;
    height: 500px;
    bottom: -500px;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

/* footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

.duvidas{
    position: absolute;
    top: 267px;
    left: 180px;
    color: rgba(255, 255, 255, 0.7);

    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }

    a:hover{
        text-decoration: underline;
    }
    }
    /* .lista-final {
        display: grid;
        grid-template-areas:
          "one two"
          "one three"
          "four three";
        gap: 2px; 
      }
      
      .item {
        border: 1px solid black;
        padding: 10px;
      }
      
      .one { grid-area: one; }
      .two { grid-area: two; }
      .three { grid-area: three; }
      .four { grid-area: four; } */
      .lista-final{
        a{
            color: rgba(255, 255, 255, 0.7);
            font-size: 14px;
        }
        .item1{
            position: absolute;
            top: 310px;
            left: 180px;
        }
        .item2{
            position: absolute;
            top: 350px;
            left: 180px;
        }
        .item3{
            position: absolute;
            top: 310px;
            left: 460px;
        }
        .item4{
            position: absolute;
            top: 350px;
            left: 460px;
        }
        .item5{
            position: absolute;
            top: 310px;
            left: 760px;
        }
        .item6{
            position: absolute;
            top: 310px;
            left: 1070px;
        }
      }

      .seta-4 {
        border-top: 4px solid white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin: 0 10px;
        float: left;
        position: absolute;
        left: 777px;
        top: 30px;
      }

    


